.jobs {
  &__search {
    padding: 72px;
    background-color: #f4f7fc;
  }
  &__board {
    padding: 64px 0;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

    .lottie {
      padding: 0;
      margin-top: -64px;
      margin-bottom: -92px;
    }
  }
  &__item {
    border: 1px solid #ecedf2;
    border-radius: 16px;
    background: white;
    padding: 30px;
    flex-grow: 1;
    flex-basis: 40%;
    position: relative;
    cursor: pointer;
    height: 180px;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);
    }

    &-title {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;

      span {
        font-size: 12px;
        color: #34a853;
        background: #eefff3;
        padding: 2px 12px;
        border-radius: 4px;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 48px;
      margin: 16px 0;

      div {
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &-label {
      position: absolute;
      top: 24px;
      right: 24px;
      background: none;
      border: none;
      cursor: pointer;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30%;
      transition: 0.1s ease-in-out;
      &:hover {
        background: #f4f7fc;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }

    &-labels {
      display: flex;
      align-items: center;
      gap: 16px;

      span {
        padding: 4px 16px;
        border-radius: 8px;
      }
    }
  }
  &__pagination {
    text-align: center;
    margin-bottom: 64px;
  }
}

.label-blue {
  color: #1967d2;
  background: #dde8f8;
}

.label-yellow {
  color: #f9b01b;
  background: #fef2d9;
}
